html{
    height: auto;
    width: auto;
    background-color: lightgray;
}

.title {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
}

.tbl {
    border: 2px solid white;
    background-color: black;
    text-align: center;
    position: fixed;
}