.title{
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 16px;
    text-indent: 4em;
}

h4.boxing{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    transition: transform 1s, width 1s, height 1s, background-color 1s, color 1s;
    margin-left: 30px;
}

h4.boxing:active{
    width: 400px;
    height: 300px;
    transform: rotate(360deg);
    background-color: lightgray;
    color: black;
}

h4.boxing2{
    font-family: Helvetica;
    margin-left: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    background: radial-gradient(circle, pink, hotpink);
    color: black;
    transition: width 3s, height 3s, font-family 3s, background 1s;
}

h4.boxing2:hover{
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: "Times New Roman";
    background: radial-gradient(circle, hotpink, pink);
}