.title{
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 16px;
    text-indent: 4em;
}

h4.boxing{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    transition: transform 1s, width 1s, height 1s, background-color 1s, color 1s;
}

h4.boxing:active{
    width: 400px;
    height: 300px;
    transform: rotate(360deg);
    background-color: lightgray;
    color: black;
}